name: "dd-otel-host-profiler"

services:
  full-host-profiler:
    build:
      context: .
      dockerfile: docker/dev/Dockerfile
      args:
        UID: ${UID}
        GID: ${GID}
    privileged: true
    pid: "host"
    environment:
      DD_SITE: ${DD_SITE:-datadoghq.com}
      DD_HOST_PROFILING_SERVICE:
      DD_HOST_PROFILING_SPLIT_BY_SERVICE:
      DD_HOST_PROFILING_SPLIT_SERVICE_SUFFIX:
      DD_HOST_PROFILING_UPLOAD_PERIOD:
      DD_HOST_PROFILING_UPLOAD_SYMBOLS:
      DD_HOST_PROFILING_UPLOAD_DYNAMIC_SYMBOLS: ${DD_HOST_PROFILING_UPLOAD_DYNAMIC_SYMBOLS:-true}
      DD_HOST_PROFILING_UPLOAD_GOPCLNTAB:
      DD_HOST_PROFILING_ADDITIONAL_SYMBOL_ENDPOINTS:
      DD_HOST_PROFILING_TAGS:
      DD_HOST_PROFILING_TRACE_AGENT_URL: ${DD_HOST_PROFILING_TRACE_AGENT_URL:-http://datadog-agent:8126}
      DD_HOST_PROFILING_RUNTIME_PROFILER:
      DD_HOST_PROFILING_RUNTIME_PROFILER_PERIOD:
      DD_HOST_PROFILING_RUNTIME_METRICS_STATSD_ADDRESS:
      DO_NOT_START_PROFILER:
      VERSION: ${VERSION:-local-dev}
    volumes:
      - ../:/app
      - /var/run/docker.sock:/var/run/docker.sock:ro
    secrets:
      - dd-api-key
      - dd-app-key
    entrypoint: [ '/app/dd-otel-host-profiler/docker/dev/entrypoint.sh' ]
    command: [ '/app/dd-otel-host-profiler/docker/dev/launch-profiler.sh']

  datadog-agent:
    image: gcr.io/datadoghq/agent:7
    cgroup: host
    environment:
      DD_SITE: ${DD_SITE:-datadoghq.com}
      DD_APM_PROFILING_ADDITIONAL_ENDPOINTS: ${DD_APM_PROFILING_ADDITIONAL_ENDPOINTS:-{}}
      DD_DOGSTATSD_NON_LOCAL_TRAFFIC: true
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - /proc/:/host/proc/:ro
      - /sys/fs/cgroup/:/host/sys/fs/cgroup:ro
    secrets:
      - dd-api-key
    entrypoint: [ '/bin/sh', '-c', 'export DD_API_KEY=$$(cat /run/secrets/dd-api-key) ; /bin/entrypoint.sh' ]

secrets:
  dd-api-key:
    environment: DD_API_KEY
  dd-app-key:
    environment: DD_APP_KEY
