name: Common build

on:
  workflow_call:
    inputs:
      go-version:
        required: true
        type: string
        description: "Go version to use for the build"
      profiler-version:
        required: true
        type: string
        description: "Profiler version to use for the build"

permissions:
  contents: read
        
jobs:
  lint:
    name: Lint
    runs-on: ubuntu-24.04
    permissions:
      pull-requests: write
    steps:
    - name: Check out
      uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
    - name: Set up Go ${{ inputs.go-version }}
      uses: actions/setup-go@44694675825211faa026b3c33043df3e48a5fa00 # v6.0.0
      with:
        go-version: ${{ inputs.go-version }}
        check-latest: true
    - name: Get linter version
      id: linter-version
      run: (echo -n "version="; make linter-version) >> "$GITHUB_OUTPUT"
    - name: Run golangci-lint
      uses: golangci/golangci-lint-action@0a35821d5c230e903fcfe077583637dea1b27b47 # v8
      with:
        version: ${{ steps.linter-version.outputs.version }}
    - name: Verify copyright headers
      run: |
        go run tools/checkcopyright.go
    - name: vet
      run: go vet ./...
    - name: Run 'go mod tidy'
      run: find . -iname go.mod -execdir go mod tidy \;
    - name: Refresh LICENSE-3rdparty.csv
      run: make licenses
      env:
        TMPDIR: ${{ runner.temp }}
    - name: Check if working tree is dirty
      id: is-tree-dirty
      run: |-
        set -euxo pipefail
        git add .
        git status
        git diff --staged --patch --exit-code > .repo.patch || echo 'result=true' >> "${GITHUB_OUTPUT}"
    - name: Fail build if working tree is dirty
      if: steps.is-tree-dirty.outputs.result == 'true'
      run: |-
        echo "::error::Files have been modified by 'go mod tidy' or 'make licenses' (see logs)."
        cat .repo.patch
        exit 1

  build:
    name: Build and Test
    strategy:
      fail-fast: true
      max-parallel: 2
      matrix:
        os: ["arm-4core-linux-ubuntu24.04", "ubuntu-24.04"]
    runs-on: ${{ matrix.os }}
    steps:
    - name: Check out
      uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
    - name: Set up Go ${{ inputs.go-version }}
      uses: actions/setup-go@44694675825211faa026b3c33043df3e48a5fa00 # v6.0.0
      with:
        go-version: ${{ inputs.go-version }}
        check-latest: true
    - name: Build
      run: |
        make VERSION=${{ inputs.profiler-version }}
    - name: Install gotestsum
      shell: bash
      run: |
        go install gotest.tools/gotestsum@v1.13.0
    - name: Tests
      run: |
        gotestsum --junitfile gotestsum-report.xml -- ./... -v -race -covermode=atomic
    - name: Upload artifacts
      uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
      with:
        name: agent-${{ matrix.os == 'arm-4core-linux-ubuntu24.04' && 'aarch64' || 'x86_64' }}
        path: dd-otel-host-profiler
