name: Nightly govulncheck
on:
  workflow_call: # allows to reuse this workflow
    inputs:
      ref:
        description: 'The branch to run the workflow on'
        required: true
        type: string
  push:
    branches:
      - main
      - release-v*
  schedule:
    - cron: '00 00 * * *'
  workflow_dispatch:

permissions:
  contents: read

jobs:
  govulncheck-tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          ref: ${{ inputs.ref || github.ref }}
      - name: Get Go version from go.mod file
        id: go-version
        run: echo "version=$(go mod edit -json | jq -r .Toolchain | cut -c3-)" >> "${GITHUB_OUTPUT}"
      - name: Checkout Go
        uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6.1.0
        with:
          go-version: ${{ steps.go-version.outputs.version }}
      - name: Install govulncheck
        run: |
          go install golang.org/x/vuln/cmd/govulncheck@latest
      - name: Run govulncheck
        run: govulncheck ./...
