name: CI

on:
  push:
    branches: [main]
  pull_request:
    branches: ["**"]
  workflow_call:

permissions:
  contents: read

concurrency:
  group: ${{ github.ref }}
  cancel-in-progress: true

jobs:
  versions:
    name: Determine versions
    runs-on: ubuntu-24.04
    env:
      RELEASE_VERSION: ${{ (github.ref_name == 'main' && 'main') || (github.event_name != 'pull_request' && github.ref_name) || github.head_ref }}    
    outputs:
      go-version: ${{ steps.go-version.outputs.version }}
      profiler-version: ${{ steps.profiler-version.outputs.version }}
    steps:
      - name: Check out
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - name: Get Go version from go.mod file
        id: go-version
        run: echo "version=$(go mod edit -json | jq -r .Toolchain | cut -c3-)" >> "${GITHUB_OUTPUT}"
      - name: Compute profiler version
        id: profiler-version
        run: echo "version=${RELEASE_VERSION}-${GITHUB_SHA::7}.${{ github.run_id }}" >> "${GITHUB_OUTPUT}"

  build:
    name: Build
    needs: [versions]
    uses: ./.github/workflows/build.yml
    with:
      go-version: ${{ needs.versions.outputs.go-version }}
      profiler-version: ${{ needs.versions.outputs.profiler-version }}
    secrets: inherit
    permissions:
      contents: read
      pull-requests: write

  publish:
    env:
      RELEASE_VERSION: ${{ github.event_name == 'pull_request' && 'dev-test' || 'main' }}
    if: ${{ (github.event_name == 'push' && github.ref == 'refs/heads/main') || (github.event_name == 'pull_request' && contains(github.event.pull_request.labels.*.name, 'publish-dev-test') )}}
    name: Publish pre-release
    needs: [build]
    runs-on: ubuntu-24.04
    permissions:
      contents: write
      packages: write
    steps:
      - name: Download artifacts
        uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7.0.0
      - name: Create assets
        run: |
          tar czf dd-otel-host-profiler-${RELEASE_VERSION}-aarch64.tar.gz -C agent-aarch64 .
          tar czf dd-otel-host-profiler-${RELEASE_VERSION}-x86_64.tar.gz -C agent-x86_64 .
          sha256sum dd-otel-host-profiler-${RELEASE_VERSION}-aarch64.tar.gz dd-otel-host-profiler-${RELEASE_VERSION}-x86_64.tar.gz > sha256sums.txt
      - name: Create or move previous dev tag
        continue-on-error: true
        uses: actions/github-script@ed597411d8f924073f98dfc5c65a23a2325f34cd # v8.0.0
        with:
          script: |
            github.rest.git.createRef({
              owner: context.repo.owner,
              repo: context.repo.repo,
              ref: 'refs/tags/${{ env.RELEASE_VERSION }}',
              sha: context.sha
            }).catch(err => {
              if (err.status !== 422) throw err;
              github.rest.git.updateRef({
                owner: context.repo.owner,
                repo: context.repo.repo,
                ref: 'tags/${{ env.RELEASE_VERSION }}',
                sha: context.sha
              })
            });
      - name: Create pre-release
        uses: ncipollo/release-action@b7eabc95ff50cbeeedec83973935c8f306dfcd0b # v1.20.0
        with:
          artifacts: "dd-otel-host-profiler-${{ env.RELEASE_VERSION }}-*.tar.gz,sha256sums.txt"
          allowUpdates: true
          removeArtifacts: true
          omitBody:  true
          omitDraftDuringUpdate: true
          prerelease: true
          draft: false
          tag: ${{ env.RELEASE_VERSION }}
      - name: Check out
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - name: Trigger internal image publish
        # create a new tag to trigger gitlab workflow to publish internal image
        run: |
          git tag "gitlab-${{ env.RELEASE_VERSION }}"
          git push -f origin "gitlab-${{ env.RELEASE_VERSION }}"
