name: Release

on:
  push:
    tags:
      - 'v[0-9]+.[0-9]+.[0-9]+-?*'

permissions:
  contents: read

jobs:
  versions:
    name: Determine versions
    runs-on: ubuntu-24.04
    outputs:
      go-version: ${{ steps.go-version.outputs.version }}
      profiler-version: ${{ steps.profiler-version.outputs.version }}
    steps:
      - name: Check out
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - name: Get Go version from go.mod file
        id: go-version
        run: echo "version=$(go mod edit -json | jq -r .Toolchain | cut -c3-)" >> "${GITHUB_OUTPUT}"
      - name: Compute profiler version
        id: profiler-version
        run: echo "version=${{ github.ref_name }}-${GITHUB_SHA::7}.${{ github.run_id }}" >> "${GITHUB_OUTPUT}"

  build:
    name: Build
    needs: [versions]
    uses: ./.github/workflows/build.yml
    with:
      go-version: ${{ needs.versions.outputs.go-version }}
      profiler-version: ${{ needs.versions.outputs.profiler-version }}
    secrets: inherit
    permissions:
      contents: read
      pull-requests: write

  release:
    env:
      REGISTRY: ghcr.io
      IMAGE_NAME: datadog/dd-otel-host-profiler
      RELEASE_VERSION: ${{ github.ref_name }}
    needs: build
    name: Release
    runs-on: ubuntu-24.04
    permissions:
      actions: read
      contents: write
      packages: write
    steps:
      - name: Check out
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - name: Setup buildx
        uses: docker/setup-buildx-action@8d2750c68a42422c14e847fe6c8ac0403b4cbd6f # v3.12.0
      - name: Log in to the Container registry
        uses: docker/login-action@c94ce9fb468520275223c153574b00df6fe4bcc9 # v3.7.0
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@c299e40c65443455700f0fdfc63efafe5b349051 # v5.10.0
        env:
          DOCKER_METADATA_ANNOTATIONS_LEVELS: manifest,index
        with:
          images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}
          annotations: |
            org.opencontainers.image.description=The Datadog OpenTelemetry Profiler is a full-host profiler that collects and sends profiling data to Datadog
            org.opencontainers.image.vendor=Datadog
          flavor: |
            latest=${{ contains(github.ref_name, '-rc') && 'false' || 'true' }}
      - name: Download artifacts
        uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7.0.0
      - name: Create assets
        run: |
          tar czf dd-otel-host-profiler-${RELEASE_VERSION}-aarch64.tar.gz -C agent-aarch64 .
          tar czf dd-otel-host-profiler-${RELEASE_VERSION}-x86_64.tar.gz -C agent-x86_64 .
          sha256sum dd-otel-host-profiler-${RELEASE_VERSION}-aarch64.tar.gz dd-otel-host-profiler-${RELEASE_VERSION}-x86_64.tar.gz > sha256sums.txt
      - name: Create Release
        uses: ncipollo/release-action@b7eabc95ff50cbeeedec83973935c8f306dfcd0b # v1.20.0
        with:
          artifacts: "dd-otel-host-profiler-v*.tar.gz,sha256sums.txt"
          allowUpdates: true
          omitBody:  true
          prerelease: true
          removeArtifacts: true
          tag: ${{ env.RELEASE_VERSION }}
      - name: Build and push Docker image
        uses: docker/build-push-action@10e90e3645eae34f1e60eeb005ba3a3d33f178e8 # v6.19.2
        with:
          context: .
          file: docker/release/Dockerfile
          platforms: linux/amd64,linux/arm64
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          annotations: ${{ steps.meta.outputs.annotations }}
      - name: Trigger internal image publish
        # create a new tag to trigger gitlab workflow to publish internal image
        run: |
          git tag "gitlab-${{ env.RELEASE_VERSION }}"
          git push -f origin "gitlab-${{ env.RELEASE_VERSION }}"
